Manga checker (WPF)/obj/Release/MainWindow.g.i.cs
Manga checker (WPF)/obj/
Manga checker (WPF)/bin/
*.exe
manga.json

.vs/Manga checker (WPF)/v14/.suo
packages/System.Data.SQLite.Core.1.0.99.0/build/net46/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.99.0/build/net45/x64/SQLite.Interop.dll
*.dll