<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Manga_checker.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <Manga_checker.Properties.Settings>
      <setting name="Debug" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingMangastream" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingMangareader" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingMangafox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingKissmanga" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingBatoto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingRefreshTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SettingOpenLinks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingBatotoRSS" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="SettingWebtoons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThreadStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingYomanga" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StatusLabel" serializeAs="String">
        <value>Status: </value>
      </setting>
      <setting name="CounterLabel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ForceCheck" serializeAs="String">
        <value>p</value>
      </setting>
    </Manga_checker.Properties.Settings>
  </userSettings>
</configuration>